*{
    margin: 0;
    box-sizing: border-box;
}
footer {
    position: relative;
    background: black;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    color: #ffff;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h2 {
    font-size: 18px;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 4px auto;
    line-height: 28px;
    font-size: 14px;
}
.footer-bottom {
    background: black;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}
.footer-bottom {
    font-size: 13px;
    word-spacing: 2px;
    text-decoration: none;
}
.footer-bottom span a:link {
    color: rgb(159, 96, 204);
    text-decoration: none;       
}
.footer-bottom span a:hover{
    color:yellow; /* Цвет ссылки */
}
/*.footer-bottom span a:visited {
    color: grey;
}*/

.return{
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    top: 5%;
    left: 5%;
    padding: 20px 40px;
    border: 2px solid black;
    box-shadow: 10px 10px 0 yellow ;
    transition: .1s;
}
.return:hover{
    box-shadow: -10px -10px 0 black ;
}
.numberError{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.error{
    color: grey;
    margin: 0;
    font-size: 350px;
    letter-spacing: 10px;
}
.error::before, .error::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.error::before{
    color: yellow;
    animation: glitch 1s infinite;
}
.error::after{
    color:black;
    animation: glitch 2s infinite;
}
.notFound{
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    padding: 0 30px;
    border-left: 20px solid black;
    border-right: 20px solid yellow;

}
@keyframes glitch{
    0%{
        top: -5px;
        left: -3px;
    }
    25%{
        top: 0px;
        left: -3px;
    }
    50%{
        top: 5px;
        left: 3px;
    }
    75%{
        top: 0px;
        left: 5px;
    }
    100%{
        top: -5px;
        left: -3px;
    }
}
